In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [15]:
df = pd.read_csv("titanic_logistic_regression.csv")

In [16]:
df.head()

   PassengerId     Sex  Age   Fare  Pclass  Survived
0            1    male   22   7.25       3         0
1            2  female   38  71.28       1         1
2            3  female   26   7.92       3         1
3            4  female   35  53.10       1         1
4            5    male   35   8.05       3         0

In [17]:
df["Sex"] = df["Sex"].map({"male":0,"female":1})
X = df[["Sex", "Age", "Fare", "Pclass"]]
Y = df["Survived"]]

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [21]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
log_reg = LogisticRegression()
log_reg.fit(X_train, Y_train)     # train
y_pred_l = log_reg.predict(X_test)  # predict
print("Logistic Regression Accuracy:",
      accuracy_score(Y_test, y_pred_l))

Logistic Regression Accuracy: 0.6666666666666666

C:\Users\mayna\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)